@model Demo.WebApp.Areas.Diagnostics.Models.Home.EnvironmentViewModel

@{
    ViewBag.Title = "環境";
    Layout = "_Layout";
}

<h3>環境</h3>
<table class="table">
    <thead>
    <tr>
        <th>キー</th>
        <th>値</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Application Name</th>
        <td>@Model.Application.ApplicationName</td>
    </tr>
    <tr>
        <th>Environment Name</th>
        <td>@Model.Application.EnvironmentName</td>
    </tr>
    </tbody>
</table>

<h3>環境変数</h3>
<table class="table">
    <thead>
    <tr>
        <th>キー</th>
        <th>値</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var (key, value) in Model.EnvironmentVariables)
    {
        <tr>
            <th>@key</th>
            <td>@value</td>
        </tr>
    }
    </tbody>
</table>
