@model Demo.WebApp.Areas.Diagnostics.Models.Database.DbConnectionState

@{
    ViewBag.Title = "Database";
    Layout = "_Layout";
}

<h2>データベース</h2>

<table class="table">
    <tr>
        <th>状態</th>
        <td>
            @if (Model.IsConnected)
            {
                <span class="badge bg-success">connected</span>
            }
            else
            {
                <span class="badge bg-danger">failed</span>
                <p style="white-space: pre;">@Model.Exception</p>
            }
        </td>
    </tr>
    <tr>
        <th>接続文字列</th>
        <td>@Model.ConnectionString</td>
    </tr>
</table>