﻿@inject Unleash.IUnleash _featureFlags
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (_featureFlags.IsEnabled("welcome-message"))
    {
        <h1 class="display-4">Welcome</h1>
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>