@model System.Collections.Immutable.ImmutableArray<Demo.WebApp.Identity.ApplicationUser>

@{
    ViewBag.Title = "Users";
    Layout = "_Layout";
}

<h2>ユーザー</h2>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>user name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
        </tr>
    }
    </tbody>
</table>