@using Demo.WebApp.Areas.Diagnostics.Models.Navigation
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>診断 @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation-bar" aria-controls="navigation-bar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation-bar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                @foreach (var item in MenuItem.All)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="@item.ControllerName" asp-action="@item.ActionName">@item.Label</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
<section class="container">
    @RenderBody()
</section>

</body>
</html>