@model dynamic

@{
    ViewBag.Title = "Logging";
    Layout = "_Layout";
}

<h2>ログ</h2>

<h3>Sentry</h3>
<p>
    <a href="https://sentry.io/organizations/masakura-c9/projects/demo-app/?project=6189483">Sentry project page</a>
</p>

<form asp-controller="Logging" asp-action="Sentry">
    <input type="text" name="text" value="Hello"/>
    <button class="btn btn-primary">Send to sentry</button>
</form>
<p>Sentry への送信テスト</p>